export PLATFORM_SDK_ROOT="/srv/mer"
export ANDROID_ROOT="$HOME/hadk"
export VENDOR="{{ hadk_vendor }}"
export DEVICE="{{ hadk_device }}"
#ARCH conflicts with kernel build
export PORT_ARCH="{{ hadk_port_arch }}"
